[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "belg"]
	path = belg
	url = https://github.com/r-spatialecology/belg
[submodule "landscapemetrics"]
	path = landscapemetrics
	url = https://github.com/r-spatialecology/landscapemetrics
[submodule "onpoint"]
	path = onpoint
	url = https://github.com/r-spatialecology/onpoint
[submodule "shar"]
	path = shar
	url = https://github.com/r-spatialecology/shar
